<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org" data-theme="dark">

<head>
  <title>Punto Formulario</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.0-alpha1/css/pico.min.css" />
  <link rel="stylesheet" href="../static/css/global.css" th:href="@{/css/global.css}">
</head>

<body>
   <div th:replace="~{fragments/navbar :: navbar}"></div>

  <!-- Main -->
  <main class="container">
    <div>
      <form action="#" th:action="@{/addPunto}" th:object="${punto}" method="post" enctype="multipart/form-data">
        <label for="nombre"> Nombre </label>
        <input th:field="*{nombre}" type="text" name="nombre" required>

        <label for="descripcion"> Descripcion </label>
        <textarea th:field="*{descripcion}" required></textarea>

        <label for="file"> URL de imagen </label>
        <input type="file" id="file" name="file" required>
				
        <input type="submit" value="Crear">

        <input style="display: none" type="text" th:field="*{turista.turistaId}" name="turista">
      </form>
    </div>
  </main>
</body>

</html>
